body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #5d0cff;
    margin: 0;
    padding: 0;
}
#container {
    width: 50%;
    padding: 1em;
    text-align: justify;
    border: 1px solid #58575a;
    margin: 0 auto;
}
#cabecera{
    background-color: #99cc3335;
    color: #58575a;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline{
    font-weight: 100;
    padding: 0 0 0 1em;
    font-size: 16px;
}
#container h1 {
    font-size: 35px;
}
#footer {
    width: auto;
    background-color: #2e2147a3;
    color: white;
    text-align: center;
    padding: 1%;
}